# Environment
APP_PORT=3000
NODE_ENV=
FRONTEND_URL=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRY=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRY=

# Super Admin Seed
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_TEMP_PASS=
SUPER_ADMIN_FIRST_NAME=
SUPER_ADMIN_LAST_NAME=

# Email
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=

# Password Reset
RESET_PASSWORD_EXPIRY_MINUTES=30
