# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=inventory_db

# JWT Configuration
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRY=15m
JWT_REFRESH_SECRET=super_secret_refresh_key
JWT_REFRESH_EXPIRY=7d

# Application Configuration
APP_PORT=3000
FRONTEND_URL=http://localhost:5173

# Super Admin Seed Details
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_TEMP_PASS=Admin@123
SUPER_ADMIN_FIRST_NAME=Super
SUPER_ADMIN_LAST_NAME=Admin

# App Config
RESET_PASSWORD_EXPIRY_MINUTES=60

# Mail Configuration
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user
MAIL_PASS=your_mailtrap_pass
MAIL_FROM=noreply@inventory.com
